{% extends 'base.html.twig' %}

{% block title %}Job Creation - List{% endblock %}

{% block body %}

    {% if found %}

        <h1>Job Application was Successful</h1>


    {% else %}

        <h1>Job Application Failed</h1>

        {% if found %}

            <h1>Already Apply for the job</h1>

        {% endif %}
    {% endif %}

{% endblock %}